In [3]:
import json  
from pprint import pprint 

with open('recipes.json') as f:
   recipes = json.load(f)

In [5]:
# 12.2 1

recipes[-1]['cuisine']

'british'

In [11]:
# 12.2 2

len(recipes[-1]['ingredients'])

17

In [13]:
# 12.2 3

for recipe in recipes:  
   if recipe['id'] == 17636:  
        print(recipe['ingredients'])
        break

['tomato sauce', 'shredded carrots', 'spinach', 'part-skim mozzarella cheese', 'italian seasoning', 'english muffins, split and toasted', 'chopped onion', 'vegetable oil cooking spray', 'chopped green bell pepper']

In [14]:
# 12.2 4

for recipe in recipes:  
   if recipe['id'] == 42013:  
        print(len(recipe['ingredients']))
        break

14

In [15]:
# 12.2 4

for recipe in recipes:  
   if recipe['id'] == 23629:  
        print(recipe['ingredients'])
        break

['eggs', 'russet potatoes', 'mexican chorizo', 'black beans', 'salsa', 'canola oil', 'colby cheese', 'black olives', 'sour cream', 'avocado', 'half & half', 'goat cheese']

In [16]:
# 12.3 1

ingredients = set()

for recipe in recipes:
   for ingredient in recipe['ingredients']:
        ingredients.add(ingredient)
len(ingredients)

1318

In [22]:
# 12.3 2

italian_ingredients = set()

for recipe in recipes:
    if recipe['cuisine'] == 'italian':
        for ingredient in recipe['ingredients']:
            italian_ingredients.add(ingredient)

len(italian_ingredients)

406

In [26]:
# 12.3 3

russian_ingredients = set()

for recipe in recipes:
    if recipe['cuisine'] == 'russian':
        for ingredient in recipe['ingredients']:
            russian_ingredients.add(ingredient)

print(sorted(russian_ingredients))

['boiled eggs', 'buttermilk', 'cucumber', 'dill', 'grits', 'mozzarella cheese', 'onions', 'red beets', 'salt', 'sugar', 'water']

In [5]:
ingredients = set()
food = {}

for recipe in recipes:
    for ingredient in recipe['ingredients']:
        ingredients.add(ingredient)

        if not(ingredient in food):
            food[ingredient] = 0
        else:
            food[ingredient] += 1

In [42]:
# 12.3 4

limit = len(recipes) / 5

for key, value in food.items():
    if (value >= limit):
        print(key)

garlic
salt

In [43]:
# 12.3 5

for key, value in food.items():
    if (value >= limit):
        print(key, value)

garlic 106
salt 216

In [46]:
# 12.3 6

count = 0

for key, value in food.items():
    if (value == 1):
        count += 1

count

215

In [6]:
# 12.4 6
import pandas as pd

def find_item(cell):
    if item in cell:
        return 1
    return 0

df = pd.DataFrame(recipes)

for item in ingredients:
    df[item] = df['ingredients'].apply(find_item)

df['ingredients'] = df['ingredients'].apply(len)

In [7]:
df.head()

,id,cuisine,ingredients,cayenne pepper,fava beans,pepperoni,chili flakes,taco sauce,cooked ham,low sodium chicken broth,...,canned corn,roasted garlic,yellow corn meal,celery,crushed garlic,thai basil,saffron threads,low-fat milk,sake,chinese chives
0,10259,greek,9,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,25693,southern_us,11,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,20130,filipino,12,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,22213,indian,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,13162,indian,20,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
df.to_csv('recipes.csv', index = False)

In [13]:
# 12.5 1

df = pd.read_csv('recipes.csv')
ids = df.id.to_list()

,id,cuisine,ingredients,cayenne pepper,fava beans,pepperoni,chili flakes,taco sauce,cooked ham,low sodium chicken broth,...,canned corn,roasted garlic,yellow corn meal,celery,crushed garlic,thai basil,saffron threads,low-fat milk,sake,chinese chives
0,10259,greek,9,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,25693,southern_us,11,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,20130,filipino,12,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,22213,indian,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,13162,indian,20,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
# 12.5 2

df = pd.read_csv('recipes.csv')
ingredients = df.columns[3:].to_list()

In [22]:
new_recipes = []
ids = df.id.to_list()
ingredients = df.columns[3:].to_list()

In [48]:
# 12.5 3

def make_list(row):
    current_ingredients = []

    for ingredient in ingredients:
        if(row[ingredient].iloc[0] > 0):
            current_ingredients.append(ingredient)

    return current_ingredients

for current_id in ids:
    cuisine = df[df['id'] == current_id]['cuisine'].iloc[0]
    current_ingredients = make_list(df[df['id'] == current_id])
    current_recipe = {'cuisine': cuisine, 'id': int(current_id), 'ingredients': current_ingredients}

In [ ]:
new_recipes = json.dumps(new_recipes)
with open("new_recipes.json", "w") as write_file:
    write_file.write(new_recipes)

# with open("new_recipes.json", "w") as write_file:
#     json.dump(new_recipes, write_file)