In [23]:
import pandas as pd

log = pd.read_csv('log.csv')
users = pd.read_csv('users.csv', sep='\t', encoding='KOI8-R')
log.columns = ['user_id', 'time', 'bet', 'win']
users.columns = ['user_id', 'email', 'geo']

In [12]:
# 11.1 1

log.time.isna().value_counts()

False    984
True      15
Name: time, dtype: int64

In [14]:
# 11.1 2

log.isna().value_counts()

user_id  time   bet    win
False    False  True   True     512
                False  True     339
                       False    133
         True   False  True       8
                       False      5
                True   True       2
dtype: int64

In [20]:
# 11.1 3

new_log = log.dropna(axis=0)
new_log.count()

user_id    133
time       133
bet        133
win        133
dtype: int64

In [27]:
# 11.2 1

clean_log = log.drop_duplicates(subset=['user_id', 'time'])
clean_log.count()

user_id    985
time       984
bet        472
win        133
dtype: int64