In [22]:
import pandas as pd

log = pd.read_csv('log.csv')
users = pd.read_csv('users.csv', sep='\t', encoding='KOI8-R')
log.columns = ['user_id', 'time', 'bet', 'win']
users.columns = ['user_id', 'email', 'geo']

In [46]:
# 11.1 1

log.time.isna().value_counts()

False    984
True      15
Name: time, dtype: int64

In [14]:
# 11.1 2

log.isna().value_counts()

user_id  time   bet    win
False    False  True   True     512
                False  True     339
                       False    133
         True   False  True       8
                       False      5
                True   True       2
dtype: int64

In [51]:
# 11.1 3

log = log.dropna()
log.count()

user_id    133
time       133
bet        133
win        133
dtype: int64

In [48]:
# 11.2 1

log.drop_duplicates(subset=['user_id', 'time'])
log.count()

user_id    999
time       984
bet        485
win        138
dtype: int64

In [52]:
# 11.3 1

log.time = log.time.apply(lambda x: pd.to_datetime(x[1:]))

13    2019-01-02 08:57:36
28    2019-01-04 13:59:42
150   2019-01-16 21:54:22
188   2019-01-21 18:34:44
204   2019-01-22 05:26:59
              ...
966   2019-04-19 22:25:15
970   2019-04-20 10:35:49
971   2019-04-20 10:35:50
975   2019-04-20 10:35:54
990   2019-04-20 12:55:41
Name: time, Length: 133, dtype: datetime64[ns]

In [57]:
# 11.4 1

minutes = log.time.dt.minute
minutes.value_counts()

36    7
57    5
44    5
18    5
35    4
40    4
25    4
2     4
48    4
8     4
1     4
55    4
34    4
16    3
6     3
23    3
15    3
31    3
0     3
11    3
38    3
43    3
46    2
10    2
54    2
52    2
17    2
50    2
9     2
20    2
49    2
45    2
12    2
5     2
26    2
58    2
29    2
42    2
33    2
3     1
4     1
59    1
13    1
14    1
19    1
21    1
22    1
24    1
37    1
39    1
47    1
53    1
27    1
Name: time, dtype: int64

In [64]:
# 11.4 2

log=log.dropna(subset=['time'], axis=0)
log.time = log.time.apply(lambda x: pd.to_datetime(x[1:]))
# log.time = log.time.apply(lambda x: x.month)
log.time.dt.month.value_counts()
# months = log.time.dt.month
# months.value_counts(ascending=True)

1    291
3    264
2    259
4    170
Name: time, dtype: int64

In [72]:
# 11.4 3

dow = log.time.dt.dayofweek
dow[dow > 4].count()
log.time.dt.dayofweek.value_counts()

5    152
2    150
1    149
4    135
0    135
3    132
6    131
Name: time, dtype: int64

In [77]:
# 11.4 5

import pandas as pd

log = pd.read_csv('log.csv')
log.columns = ['user_id', 'time', 'bet', 'win']
log = log.dropna(subset=['time'], axis=0)
log.time = log.time.apply(lambda x: pd.to_datetime(x[1:]))
log['hour'] = log.time.dt.hour

log

,user_id,time,bet,win,hour
0,Запись пользователя № - user_973,2019-01-01 14:51:16,NaN,NaN,14
1,Запись пользователя № - user_903,2019-01-01 16:31:16,NaN,NaN,16
2,Запись пользователя № - user_954,2019-01-01 17:17:51,NaN,NaN,17
3,Запись пользователя № - user_954,2019-01-01 21:31:18,NaN,NaN,21
4,Запись пользователя № - user_917,2019-01-01 23:34:55,156789.0,NaN,23
...,...,...,...,...,...
990,Запись пользователя № - user_965,2019-04-20 12:55:41,800.0,6927.0,12
991,Запись пользователя № - user_967,2019-04-20 14:59:36,10154.0,NaN,14
992,Запись пользователя № - user_973,2019-04-20 17:09:56,10254.0,NaN,17
993,Запись пользователя № - user_977,2019-04-20 18:10:07,10354.0,NaN,18
994,Запись пользователя № - user_984,2019-04-20 09:59:58,9754.0,NaN,9

In [3]:
# 11.5 1

# log.bet.fillna(0)
# len(log.query('bet == 0'))
log.bet = log.bet.fillna(0)
len(log.query('bet == 0'))

514

In [23]:
# 11.5 2

import pandas as pd

log = pd.read_csv('log.csv')
log.columns = ['user_id', 'time', 'bet', 'win']
log.bet = log.bet.fillna(0)

def fillna_win(row):  
    if (row.win >= 0):
        return row.win
    elif (row.bet >= 0):
        return -row.bet
    else:
        return 0

  
# Применяем функцию  
log.win = log.apply(lambda row: fillna_win(row), axis=1)  

# log
len(log.query('win < 0'))

347

In [24]:
# 11.6 1

def fill_net(row):
    if (row.win < 0):
        return row.win
    else:
        return row.win - row.bet

log['net'] = log.apply(lambda row: fill_net(row), axis=1)
len(log.query('net > 0'))

138

In [20]:
# 11.6 2

round(log[log.net > 0].net.mean())

80253

In [21]:
# 11.6 3

round(log[log.net > 0].net.median())

5347

In [33]:
# 11.7 1

round(log[log.bet > 0].bet.count() / log.bet.count() * 100, 1)

48.5

In [34]:
# 11.7 2

log[log.bet > 0].bet.mean()

6785.738144329897

In [35]:
# 11.7.3

log[log.bet > 0].net.mean()

20421.892783505155

In [36]:
# 11.7 4

log[log.net < 0].net.mean()

-3372.743515850144

In [45]:
# 11.7 5

bets_nets = log[log.bet > 0][['bet', 'net']]
win_bets = bets_nets[bets_nets.net > 0].bet.count() / bets_nets.bet.count()
lose_bets = bets_nets[bets_nets.net < 0].bet.count() / bets_nets.bet.count()

win_bets
lose_bets

0.7154639175257732

In [9]:
# 11.7 6

import pandas as pd

log = pd.read_csv('log.csv')
log.columns = ['user_id', 'time', 'bet', 'win']
log = log.dropna(subset=['bet'], axis=0)

min_bet = log.bet.min()
min_bet_amount = len(log.query('bet == @min_bet'))
min_bet_amount

48

In [25]:
users.user_id = users.user_id.apply(lambda x: x.lower())  
# Избавимся от ошибок в user_id  
log = log[log.user_id != '#error']  
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1])

In [26]:
merged = pd.merge(users, log, on='user_id')

In [27]:
# 11.8 1
 
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 974 entries, 0 to 973
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  974 non-null    object
 1   email    966 non-null    object
 2   geo      949 non-null    object
 3   time     974 non-null    object
 4   bet      974 non-null    float64
 5   win      974 non-null    float64
 6   net      974 non-null    float64
dtypes: float64(3), object(4)
memory usage: 60.9+ KB

In [45]:
# 11.9 1

merged.groupby("user_id").net.median().median()

-0.0

In [52]:
# 11.10 1

by_city = merged.groupby("geo")
by_city.win.sum().sort_values()

geo
Тюмень                 -499.0
Ставрополь              487.0
Краснодар              3248.0
Пермь                 19518.0
Арзангелтск           25813.0
Красноярск            27397.0
Екатеринбург          28582.0
Хабаровск             33451.0
Ижевск                34479.0
Ярославль             46845.0
Казань                75352.0
Санкт-Петербург      105345.0
Воронеж              107514.0
Москва             11379755.0
Name: win, dtype: float64

In [65]:
# 11.10 2

mean_city_bet = merged.query('bet > 0').groupby("geo").bet.mean()
mean_city_bet.max() / mean_city_bet.min()

127.81602335164835