In [6]:
 best = ['Александр', 'Константин', 'Мария', 'Диана', 'Алексей', 'Максим', 'Светлана', 'Арина', 'Серафим','Doomer','Павел', 'Виктория', 'Елена', 'Галина', 'Вячеслав']
for i, val in enumerate(best):
    print(i, val)

0 Александр
1 Константин
2 Мария
3 Диана
4 Алексей
5 Максим
6 Светлана
7 Арина
8 Серафим
9 Doomer
10 Павел
11 Виктория
12 Елена
13 Галина
14 Вячеслав

In [5]:
sparta = ['Иванов', 'Петров', 'Сидоров', 'Зайцев', 'Дятлов', 'Козлов', 'Лисичкин', 'Огурцов', 'Капустин', 'Арбузов']
sparta[0:9:2]
sparta[1:9:3]
sparta[0:9:5]
sparta[::-3]
sparta[-2:1:-3]

['Капустин', 'Козлов', 'Сидоров']

In [12]:
raw_list = [2, 8, 10, 23, 64, 49, 11, 52, 71, 14]
minValue = min(raw_list)
maxValue = max(raw_list)
my_list = []

for val in raw_list:
    if (val%2 == 0):
        my_list.append(val * minValue)
    else:
        my_list.append(val * maxValue)

result = max(my_list)
    
print(raw_list.count(23))

1

In [18]:
my_list = []
for x in range(90, 100):
    first_digit = x//10
    last_digit = x%10
    my_list.append(first_digit + last_digit)

my_list

[9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

In [19]:
new_list = [(x//10)+(x%10) for x in range(90, 100)]
new_list

[9, 10, 11, 12, 13, 14, 15, 16, 17, 18]