In [26]:
import pandas as pd
import ast
import numpy as np
from sklearn.model_selection import train_test_split

from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели
from sklearn import metrics

df = pd.read_csv('main_task.csv')

In [21]:
df.info()
df.head()['Cuisine Style']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      40000 non-null  object
 1   City               40000 non-null  object
 2   Cuisine Style      30717 non-null  object
 3   Ranking            40000 non-null  float64
 4   Rating             40000 non-null  float64
 5   Price Range        26114 non-null  object
 6   Number of Reviews  37457 non-null  float64
 7   Reviews            40000 non-null  object
 8   URL_TA             40000 non-null  object
 9   ID_TA              40000 non-null  object
dtypes: float64(3), object(7)
memory usage: 3.1+ MB

0              ['European', 'French', 'International']
1                                                  NaN
2    ['Japanese', 'Sushi', 'Asian', 'Grill', 'Veget...
3                                                  NaN
4    ['German', 'Central European', 'Vegetarian Fri...
Name: Cuisine Style, dtype: object

#### Вспомогательные функции

In [30]:

def get_cuisines_count(cuisines):
    """Возвращает количество кухонь для ресторана"""

    return 1 if pd.isna(cuisines) else len(ast.literal_eval(cuisines))

In [31]:
# Количество кухонь в ресторане
cnt = get_cuisines_count(df.iloc[0]['Cuisine Style'])
cnt

# df['Cuisine Style'] = df['Cuisine Style'].fillna("['Dummy']")
# df['Cuisine Style'].value_counts()

3

In [7]:
# Дата последнего отзыва
# Количество отзывов
# Города?
# df['Reviews'].value_counts()

       Inexpensive  Middle Price  Expensive
0                0             1          0
1                0             0          0
2                0             0          1
3                0             0          0
4                0             1          0
...            ...           ...        ...
39995            0             1          0
39996            0             1          0
39997            0             0          0
39998            0             1          0
39999            0             1          0

[40000 rows x 3 columns]

##### Удаляем столбцы Object

In [29]:

object_columns = []

for c in df.columns:
    if(df[c].dtype == 'object' and c != 'Restaurant_id'):
        object_columns.append(c)

df.drop(object_columns, axis=1, inplace=True)

#### Заполняем пропуски

In [30]:
df['Number of Reviews'] = df['Number of Reviews'].fillna(df['Number of Reviews'].mean())

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Ranking            40000 non-null  float64
 1   Rating             40000 non-null  float64
 2   Number of Reviews  40000 non-null  float64
dtypes: float64(3)
memory usage: 937.6 KB

## 0. Анализ источника данных

In [31]:
X = df.drop(['Restaurant_id', 'Rating'], axis = 1)
y = df['Rating']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [32]:
regr = RandomForestRegressor(n_estimators=100)

# Обучаем модель на тестовом наборе данных
regr.fit(X_train, y_train)

# Используем обученную модель для предсказания рейтинга ресторанов в тестовой выборке.
# Предсказанные значения записываем в переменную y_pred
y_pred = regr.predict(X_test)

In [33]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они в среднем отличаются
# Метрика называется Mean Absolute Error (MAE) и показывает среднее отклонение предсказанных значений от фактических.
print('MAE:', metrics.mean_absolute_error(y_test, y_pred))

MAE: 0.4285477858044733