In [277]:
import pandas as pd
import ast

df = pd.read_csv('main_task.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      40000 non-null  object
 1   City               40000 non-null  object
 2   Cuisine Style      30717 non-null  object
 3   Ranking            40000 non-null  float64
 4   Rating             40000 non-null  float64
 5   Price Range        26114 non-null  object
 6   Number of Reviews  37457 non-null  float64
 7   Reviews            40000 non-null  object
 8   URL_TA             40000 non-null  object
 9   ID_TA              40000 non-null  object
dtypes: float64(3), object(7)
memory usage: 3.1+ MB

In [271]:
df['Restaurant_id'].value_counts()

id_871      18
id_436      18
id_227      18
id_633      18
id_430      17
            ..
id_12084     1
id_12116     1
id_9111      1
id_10113     1
id_14302     1
Name: Restaurant_id, Length: 11909, dtype: int64

In [275]:
df['Restaurant_id'].value_counts()
rest_network = df['Restaurant_id'].value_counts().loc[lambda x: x>1]
# cities = df['City'].value_counts().index.values
# cities2 = df['City'].unique()
#
# cities

In [276]:
rest_network

id_871      18
id_436      18
id_227      18
id_633      18
id_430      17
            ..
id_5391      2
id_5299      2
id_7090      2
id_8688      2
id_12690     2
Name: Restaurant_id, Length: 7204, dtype: int64