In [2]:
# 7.3

import pandas as pd

ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

In [2]:
# 7.3 1 Count of ratings

ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [3]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [4]:
# 7.3 4 Min rating

ratings['rating'].min()

0.5

In [5]:
# 7.3 5 Max rating

ratings['rating'].max()

5.0

In [16]:
# 7.8

import pandas as pd
rates = pd.read_csv('ratings_example.txt', sep = '\t')
mvs = pd.read_csv('movies_example.txt', sep = '\t')
# mvs.head()
# ratings.head()
rates.merge(mvs, on = 'movieId', how = 'right')

,userId,movieId,rating,timestamp,title,genres
0,1.0,31,2.5,1.260759e+09,Dangerous Minds (1995),Drama
1,1.0,31,2.5,1.260759e+09,Dangerous Minds (1995),Drama
2,NaN,32,NaN,NaN,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller

In [17]:
mvs.drop_duplicates(subset = 'movieId', keep = 'first', inplace = True)
mvs.head()

   movieId                                      title                   genres
0       31                    Dangerous Minds (1995)                     Drama
1       32  Twelve Monkeys (a.k.a. 12 Monkeys) (1995)  Mystery|Sci-Fi|Thriller

In [18]:
rates.merge(mvs, on = 'movieId', how = 'right')

,userId,movieId,rating,timestamp,title,genres
0,1.0,31,2.5,1.260759e+09,Dangerous Minds (1995),Drama
1,NaN,32,NaN,NaN,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller