In [10]:
import os
files = os.listdir('data')
files

['ratings_8.txt',
 'ratings_9.txt',
 'ratings_10.txt',
 'ratings_7.txt',
 'ratings_6.txt',
 'ratings_4.txt',
 'ratings_5.txt',
 'ratings_1.txt',
 'ratings_2.txt',
 'ratings_3.txt']

In [13]:
import pandas as pd
data = pd.DataFrame(columns = ['userId', 'movieId', 'rating', 'timestamp'])

for file in files:
    temp = pd.read_csv(os.path.join('data', file), sep = '\t', names = ['userId', 'movieId', 'rating', 'timestamp'])
    data = pd.concat([data, temp])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100004 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100004 non-null  object
 1   movieId    0 non-null       object
 2   rating     0 non-null       object
 3   timestamp  0 non-null       object
dtypes: object(4)
memory usage: 3.8+ MB

In [15]:
# 7.15

import pandas as pd

ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

In [17]:
# 7.15 3 Count of min rating

ratings[ratings.rating == ratings.rating.min()].rating.count()

1370

In [19]:
# 7.15 4 merge movies and ratings with outer. How many rows in the final dataset.abs

merged = ratings.merge(movies, on = 'movieId', how = 'outer')
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100854 entries, 0 to 100853
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  float64
 1   movieId    100854 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  float64
 4   title      100854 non-null  object
 5   genres     100854 non-null  object
dtypes: float64(3), int64(1), object(2)
memory usage: 5.4+ MB

In [25]:
# 7.15 5 Movie with movieId=3456.

movie = movies[movies.movieId == 3456]
full_movie = movie.merge(ratings, on = 'movieId', how = 'left')
display(full_movie)

,movieId,title,genres,userId,rating,timestamp
0,3456,"Color of Paradise, The (Rang-e khoda) (1999)",Drama,NaN,NaN,NaN