In [4]:
# 6
import pandas as pd

football = pd.read_csv('data_sf.csv')

small_df = football[football.columns[1:8]].head(25)
small_df

,Name,Age,Nationality,Club,Value,Wage,Position
0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF
1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST
2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW
3,De Gea,27,Spain,Manchester United,72000000,260000,GK
4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM
5,E. Hazard,27,Belgium,Chelsea,93000000,340000,LF
6,L. Modrić,32,Croatia,Real Madrid,67000000,420000,RCM
7,L. Suárez,31,Uruguay,FC Barcelona,80000000,455000,RS
8,Sergio Ramos,32,Spain,Real Madrid,51000000,380000,RCB
9,J. Oblak,25,Slovenia,Atlético Madrid,68000000,94000,GK
10,R. Lewandowski,29,Poland,FC Bayern München,77000000,205000,ST
11,T. Kroos,28,Germany,Real Madrid,76500000,355000,LCM
12,D. Godín,32,Uruguay,Atlético Madrid,44000000,125000,CB
13,David Silva,32,Spain,Manchester City,60000000,285000,LCM
14,N. Kanté,27,France,Chelsea,63000000,225000,LDM
15,P. Dybala,24,Argentina,Juventus,89000000,205000,LF
16,H. Kane,24,England,Tottenham Hotspur,83500000,205000,ST
17,A. Griezmann,27,France,Atlético Madrid,78000000,145000,CAM
18,M. ter Stegen,26,Germany,FC Barcelona,58000000,240000,GK
19,T. Courtois,26,Belgium,Real Madrid,53500000,240000,GK
20,Sergio Busquets,29,Spain,FC Barcelona,51500000,315000,CDM
21,E. Cavani,31,Uruguay,Paris Saint-Germain,60000000,200000,LS
22,M. Neuer,32,Germany,FC Bayern München,38000000,130000,GK
23,S. Agüero,30,Argentina,Manchester City,64500000,300000,ST
24,G. Chiellini,33,Italy,Juventus,27000000,215000,LCB

In [5]:
# 6.3 Nationalities

nationalities = small_df['Nationality'].value_counts()
nationalities

Spain        4
Belgium      3
Germany      3
Argentina    3
Uruguay      3
France       2
Poland       1
Slovenia     1
Portugal     1
Croatia      1
Brazil       1
England      1
Italy        1
Name: Nationality, dtype: int64

In [16]:
# 6.3 1 count of football clubs

clubs = football['Club'].value_counts()
display(clubs)

V-Varen Nagasaki     30
Shonan Bellmare      30
Vissel Kobe          29
Padova               29
FC Emmen             29
                     ..
Cruzeiro              8
GD Chaves             7
Dinamo Zagreb         7
Vitória Guimarães     7
Atlético Mineiro      6
Name: Club, Length: 650, dtype: int64

In [17]:
# 6.3 2 football clubs with max players

clubs.loc[clubs == clubs.max()]

V-Varen Nagasaki    30
Shonan Bellmare     30
Name: Club, dtype: int64

In [23]:
# 6.3 3 football clubs with min players
# how many players of this club presented in dataset

club = clubs.loc[clubs == clubs.min()].index[0]
print(club)
len(football[football.Club == club])

Atlético Mineiro

6

In [26]:
# 6.4 1 Positions more than 10% of dataset

positions = football['Position'].value_counts(normalize=True)
positions.loc[positions > 0.1]

GK    0.127239
ST    0.117237
CB    0.108785
Name: Position, dtype: float64

In [27]:
# 6.4 2 Positions less than 1% of dataset 
positions.loc[positions < 0.01]

LS     0.009382
RS     0.008839
RWB    0.005428
LWB    0.004652
CF     0.003954
LF     0.000620
RF     0.000465
LAM    0.000465
RAM    0.000388
Name: Position, dtype: float64

In [30]:
# 6.4 3-4 Players accuracy range

football['FKAccuracy'].value_counts(bins=5)

(21.2, 39.4]     4859
(39.4, 57.6]     3957
(57.6, 75.8]     2108
(2.908, 21.2]    1760
(75.8, 94.0]      213
Name: FKAccuracy, dtype: int64

In [35]:
# 6.4 3-4 Accuracy of most players

football['FKAccuracy'].value_counts(bins=5).max()

4859

In [42]:
# 6.6 1 % of Spain players with Wage < 25%

football[football.Nationality == 'Spain'].Wage.value_counts(bins=4, normalize=True)

(620.999, 95750.0]      0.970194
(95750.0, 190500.0]     0.016393
(190500.0, 285250.0]    0.008942
(285250.0, 380000.0]    0.004471
Name: Wage, dtype: float64

In [43]:
# 6.6 2 Unique nationalities in Manchester United club

football[football.Club == 'Manchester United'].Nationality.nunique()

13

In [57]:
# 6.6 3 Brazil players from Juventus

football[(football.Club == 'Juventus') & (football.Nationality == 'Brazil')].Name

64      Alex Sandro
65    Douglas Costa
Name: Name, dtype: object

In [58]:
# 6.6 4 Club with max amount of players older than 35

football[(football.Age > 35)].Club.value_counts()

Club Atlético Huracán          4
Hokkaido Consadole Sapporo     4
Club Atlético Talleres         3
Club Atlético Tigre            3
Gimnasia y Esgrima La Plata    3
                              ..
Colorado Rapids                1
SV Wehen Wiesbaden             1
Sligo Rovers                   1
Shamrock Rovers                1
Heart of Midlothian            1
Name: Club, Length: 212, dtype: int64

In [59]:
# 6.6 5 How many Argentina players aged between 34,75 and 41 

football[football.Nationality == 'Argentina'].Age.value_counts(bins=4)

(22.25, 28.5]      200
(15.974, 22.25]    197
(28.5, 34.75]      128
(34.75, 41.0]       49
Name: Age, dtype: int64

In [61]:
# 6.6 6 % of Spain players 21 y.o.

football[football.Nationality == 'Spain'].Age.value_counts(normalize=True)

21    0.117735
22    0.095380
20    0.077496
23    0.071535
25    0.064083
27    0.062593
24    0.059613
28    0.053651
26    0.053651
29    0.047690
19    0.047690
18    0.038748
30    0.038748
31    0.032787
32    0.032787
33    0.031297
34    0.022355
17    0.013413
35    0.011923
36    0.010432
37    0.008942
39    0.002981
16    0.002981
38    0.001490
Name: Age, dtype: float64

In [63]:
# 6.7 1 Positions and wages grouping

football.groupby(['Position'])['Wage'].sum().sort_values(ascending=False)

Position
ST     11873000
GK      8784000
CB      7476000
CM      6194000
LB      6096000
CAM     5500000
LM      5440000
RM      5098000
RB      5034000
CDM     4921000
RCB     4711000
LCB     3989000
RW      3276000
RCM     3241000
LCM     3145000
LW      2945000
LS      1866000
RDM     1557000
RS      1537000
LDM     1516000
RF       714000
LF       601000
RWB      420000
LAM      366000
LWB      347000
CF       248000
RAM       59000
Name: Wage, dtype: int64

In [66]:
# 6.8 1 Mean wage and value grouping for each position

football.groupby(['Position'])['Wage', 'Value'].mean().sort_values(['Value'], ascending=False)

                   Wage         Value
Position
LF         75125.000000  2.736250e+07
RF        119000.000000  2.636583e+07
LAM        61000.000000  1.324583e+07
RAM        11800.000000  8.345000e+06
LS         15421.487603  5.848430e+06
LCM        13497.854077  4.318090e+06
RCM        13504.166667  4.217604e+06
RS         13482.456140  3.645833e+06
LW         12169.421488  3.603099e+06
RW         13822.784810  3.495738e+06
LDM        10243.243243  3.369459e+06
RCB        11270.334928  3.009055e+06
CAM         8688.783570  2.963199e+06
RDM        11282.608696  2.692717e+06
LCB         9753.056235  2.636516e+06
LM          7472.527473  2.466174e+06
ST          7852.513228  2.157252e+06
RM          6655.352480  2.138734e+06
LWB         5783.333333  1.931333e+06
CF          4862.745098  1.848627e+06
CDM         7121.562952  1.658900e+06
CM          5805.060918  1.617465e+06
RWB         6000.000000  1.555571e+06
GK          5352.833638  1.502502e+06
LB          6083.832335  1.429032e+06
CB          5328.581611  1.321251e+06
RB          5310.126582  1.248940e+06

In [88]:
# 6.9 1 Clubs where mean wage equals to median wage

wages = football.groupby(['Club'])['Wage'].agg(['mean', 'median'])
wages.columns = ['Mean', 'Median']
wages[wages.Mean == wages.Median].count()

Mean      52
Median    52
dtype: int64

In [99]:
# 6.9 2 Max mean wage and club name

wages[(wages.Mean == wages.Median)].sort_values(['Mean'], ascending=False)

                           Mean  Median
Club
Cruzeiro                13000.0   13000
Göztepe SK               7000.0    7000
Brøndby IF               6000.0    6000
Sunderland               4000.0    4000
CD Feirense              4000.0    4000
1. FC Magdeburg          4000.0    4000
Northampton Town         2500.0    2500
Stade Brestois 29        2000.0    2000
Jeonnam Dragons          2000.0    2000
Pohang Steelers          2000.0    2000
AJ Auxerre               2000.0    2000
Grimsby Town             2000.0    2000
Heracles Almelo          2000.0    2000
Philadelphia Union       2000.0    2000
Kashiwa Reysol           2000.0    2000
CD Tondela               2000.0    2000
Benevento                2000.0    2000
FC Metz                  1500.0    1500
PAOK                     1000.0    1000
Orlando Pirates          1000.0    1000
Panathinaikos FC         1000.0    1000
Patriotas Boyacá FC      1000.0    1000
PFC CSKA Moscow          1000.0    1000
Shakhtar Donetsk         1000.0    1000
SK Slavia Praha          1000.0    1000
Shamrock Rovers          1000.0    1000
Sligo Rovers             1000.0    1000
Sparta Praha             1000.0    1000
Spartak Moscow           1000.0    1000
St. Patrick's Athletic   1000.0    1000
Trelleborgs FF           1000.0    1000
Olympiacos CFP           1000.0    1000
Jaguares de Córdoba      1000.0    1000
Lokomotiv Moscow         1000.0    1000
Dynamo Kyiv              1000.0    1000
Bohemian FC              1000.0    1000
Boyacá Chicó FC          1000.0    1000
Bray Wanderers           1000.0    1000
Cork City                1000.0    1000
Deportivo Pasto          1000.0    1000
Dinamo Zagreb            1000.0    1000
Dundalk                  1000.0    1000
Envigado FC              1000.0    1000
Limerick FC              1000.0    1000
FC Energie Cottbus       1000.0    1000
HJK Helsinki             1000.0    1000
IF Brommapojkarna        1000.0    1000
IK Sirius                1000.0    1000
Itagüí Leones FC         1000.0    1000
AEK Athens               1000.0    1000
Kaizer Chiefs            1000.0    1000
Viktoria Plzeň           1000.0    1000