In [4]:
# 6
import pandas as pd

football = pd.read_csv('data_sf.csv')

small_df = football[football.columns[1:8]].head(25)
small_df

,Name,Age,Nationality,Club,Value,Wage,Position
0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF
1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST
2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW
3,De Gea,27,Spain,Manchester United,72000000,260000,GK
4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM
5,E. Hazard,27,Belgium,Chelsea,93000000,340000,LF
6,L. Modrić,32,Croatia,Real Madrid,67000000,420000,RCM
7,L. Suárez,31,Uruguay,FC Barcelona,80000000,455000,RS
8,Sergio Ramos,32,Spain,Real Madrid,51000000,380000,RCB
9,J. Oblak,25,Slovenia,Atlético Madrid,68000000,94000,GK
10,R. Lewandowski,29,Poland,FC Bayern München,77000000,205000,ST
11,T. Kroos,28,Germany,Real Madrid,76500000,355000,LCM
12,D. Godín,32,Uruguay,Atlético Madrid,44000000,125000,CB
13,David Silva,32,Spain,Manchester City,60000000,285000,LCM
14,N. Kanté,27,France,Chelsea,63000000,225000,LDM
15,P. Dybala,24,Argentina,Juventus,89000000,205000,LF
16,H. Kane,24,England,Tottenham Hotspur,83500000,205000,ST
17,A. Griezmann,27,France,Atlético Madrid,78000000,145000,CAM
18,M. ter Stegen,26,Germany,FC Barcelona,58000000,240000,GK
19,T. Courtois,26,Belgium,Real Madrid,53500000,240000,GK
20,Sergio Busquets,29,Spain,FC Barcelona,51500000,315000,CDM
21,E. Cavani,31,Uruguay,Paris Saint-Germain,60000000,200000,LS
22,M. Neuer,32,Germany,FC Bayern München,38000000,130000,GK
23,S. Agüero,30,Argentina,Manchester City,64500000,300000,ST
24,G. Chiellini,33,Italy,Juventus,27000000,215000,LCB

In [5]:
# 6.3 Nationalities

nationalities = small_df['Nationality'].value_counts()
nationalities

Spain        4
Belgium      3
Germany      3
Argentina    3
Uruguay      3
France       2
Poland       1
Slovenia     1
Portugal     1
Croatia      1
Brazil       1
England      1
Italy        1
Name: Nationality, dtype: int64

In [16]:
# 6.3 1 count of football clubs

clubs = football['Club'].value_counts()
display(clubs)

V-Varen Nagasaki     30
Shonan Bellmare      30
Vissel Kobe          29
Padova               29
FC Emmen             29
                     ..
Cruzeiro              8
GD Chaves             7
Dinamo Zagreb         7
Vitória Guimarães     7
Atlético Mineiro      6
Name: Club, Length: 650, dtype: int64

In [17]:
# 6.3 2 football clubs with max players

clubs.loc[clubs == clubs.max()]

V-Varen Nagasaki    30
Shonan Bellmare     30
Name: Club, dtype: int64

In [23]:
# 6.3 3 football clubs with min players
# how many players of this club presented in dataset

club = clubs.loc[clubs == clubs.min()].index[0]
print(club)
len(football[football.Club == club])

Atlético Mineiro

6

In [26]:
# 6.4 1 Positions more than 10% of dataset

positions = football['Position'].value_counts(normalize=True)
positions.loc[positions > 0.1]

GK    0.127239
ST    0.117237
CB    0.108785
Name: Position, dtype: float64

In [27]:
# 6.4 2 Positions less than 1% of dataset 
positions.loc[positions < 0.01]

LS     0.009382
RS     0.008839
RWB    0.005428
LWB    0.004652
CF     0.003954
LF     0.000620
RF     0.000465
LAM    0.000465
RAM    0.000388
Name: Position, dtype: float64

In [30]:
# 6.4 3-4 Players accuracy range

football['FKAccuracy'].value_counts(bins=5)

(21.2, 39.4]     4859
(39.4, 57.6]     3957
(57.6, 75.8]     2108
(2.908, 21.2]    1760
(75.8, 94.0]      213
Name: FKAccuracy, dtype: int64

In [35]:
# 6.4 3-4 Accuracy of most players

football['FKAccuracy'].value_counts(bins=5).max()

4859

In [42]:
# 6.6 1 % of Spain players with Wage < 25%

football[football.Nationality == 'Spain'].Wage.value_counts(bins=4, normalize=True)

(620.999, 95750.0]      0.970194
(95750.0, 190500.0]     0.016393
(190500.0, 285250.0]    0.008942
(285250.0, 380000.0]    0.004471
Name: Wage, dtype: float64

In [43]:
# 6.6 2 Unique nationalities in Manchester United club

football[football.Club == 'Manchester United'].Nationality.nunique()

13

In [57]:
# 6.6 3 Brazil players from Juventus

football[(football.Club == 'Juventus') & (football.Nationality == 'Brazil')].Name

64      Alex Sandro
65    Douglas Costa
Name: Name, dtype: object

In [58]:
# 6.6 4 Club with max amount of players older than 35

football[(football.Age > 35)].Club.value_counts()

Club Atlético Huracán          4
Hokkaido Consadole Sapporo     4
Club Atlético Talleres         3
Club Atlético Tigre            3
Gimnasia y Esgrima La Plata    3
                              ..
Colorado Rapids                1
SV Wehen Wiesbaden             1
Sligo Rovers                   1
Shamrock Rovers                1
Heart of Midlothian            1
Name: Club, Length: 212, dtype: int64

In [59]:
# 6.6 5 How many Argentina players aged between 34,75 and 41 

football[football.Nationality == 'Argentina'].Age.value_counts(bins=4)

(22.25, 28.5]      200
(15.974, 22.25]    197
(28.5, 34.75]      128
(34.75, 41.0]       49
Name: Age, dtype: int64

In [61]:
# 6.6 6 % of Spain players 21 y.o.

football[football.Nationality == 'Spain'].Age.value_counts(normalize=True)

21    0.117735
22    0.095380
20    0.077496
23    0.071535
25    0.064083
27    0.062593
24    0.059613
28    0.053651
26    0.053651
29    0.047690
19    0.047690
18    0.038748
30    0.038748
31    0.032787
32    0.032787
33    0.031297
34    0.022355
17    0.013413
35    0.011923
36    0.010432
37    0.008942
39    0.002981
16    0.002981
38    0.001490
Name: Age, dtype: float64