In [2]:
import pandas as pd

df = pd.read_csv('data_sf.csv')

In [14]:
# 6.13 1 Number of players with different positions in each club with 0 as empty value
# mean value of GK in clubs

pivot = df.pivot_table(values=['Name'],
index=['Position'],
columns=['Club'],
aggfunc='count',
fill_value=0)
pivot.loc['GK'].mean()

2.5246153846153847

In [20]:
# 6.13 2 How many clubs does not contain CM Position info

pivot.loc['CM'].value_counts()

1    211
2    149
0    136
3     89
4     39
5     21
6      5
Name: CM, dtype: int64

In [5]:
# 6.14 1 Wage of Russian players in AS Monaco

wages = df.pivot_table(values=['Wage'],
index=['Nationality'],
columns=['Club'],
aggfunc='sum',
fill_value=0)
# wages.loc['Russia']['Wage']['AS Monaco']
wages

                            Wage                                             \
Club         SSV Jahn Regensburg 1. FC Heidenheim 1846 1. FC Kaiserslautern
Nationality
Afghanistan                    0                     0                    0
Albania                        0                     0                    0
Algeria                        0                     0                    0
Andorra                        0                     0                    0
Angola                         0                     0                    0
...                          ...                   ...                  ...
Uzbekistan                     0                     0                    0
Venezuela                      0                     0                    0
Wales                          0                     0                    0
Zambia                         0                     0                    0
Zimbabwe                       0                     0                    0

                                                                          \
Club        1. FC Köln 1. FC Magdeburg 1. FC Nürnberg 1. FC Union Berlin
Nationality
Afghanistan          0               0              0                  0
Albania              0               0              0                  0
Algeria              0               0              0                  0
Andorra              0               0              0                  0
Angola               0               0              0                  0
...                ...             ...            ...                ...
Uzbekistan           0               0              0                  0
Venezuela            0               0              0                  0
Wales                0               0              0                  0
Zambia               0               0              0                  0
Zimbabwe             0               0              0                  0

                                                   ...                    \
Club        1. FSV Mainz 05 AC Ajaccio AC Horsens  ... Wycombe Wanderers
Nationality                                        ...
Afghanistan               0          0          0  ...                 0
Albania                   0       2000          0  ...                 0
Algeria                   0          0          0  ...                 0
Andorra                   0          0          0  ...                 0
Angola                    0          0          0  ...                 0
...                     ...        ...        ...  ...               ...
Uzbekistan                0          0          0  ...                 0
Venezuela                 0          0          0  ...                 0
Wales                     0          0          0  ...              4000
Zambia                    0          0          0  ...                 0
Zimbabwe                  0          0          0  ...                 0

                                                                             \
Club        Yeni Malatyaspor Yeovil Town Yokohama F. Marinos Zagłębie Lubin
Nationality
Afghanistan                0           0                   0              0
Albania                    0           0                   0              0
Algeria                    0        1000                   0              0
Andorra                    0           0                   0              0
Angola                     0           0                   0              0
...                      ...         ...                 ...            ...
Uzbekistan                 0           0                   0              0
Venezuela                  0           0                   0              0
Wales                      0        2000                   0              0
Zambia                     0           0                   0              0
Zimbabwe                   0           0                   0              0

                                                                        \
Club        Zagłębie Sosnowiec Çaykur Rizespor Örebro SK Östersunds FK
Nationality
Afghanistan                  0               0         0             0
Albania                      0               0      1000             0
Algeria                      0               0         0             0
Andorra                      0               0         0             0
Angola                    1000               0         0             0
...                        ...             ...       ...           ...
Uzbekistan                   0               0         0             0
Venezuela                    0               0         0             0
Wales                        0               0         0             0
Zambia                       0               0         0             0
Zimbabwe                     0               0         0             0


Club        Śląsk Wrocław
Nationality
Afghanistan             0
Albania                 0
Algeria                 0
Andorra                 0
Angola                  0
...                   ...
Uzbekistan              0
Venezuela               0
Wales                   0
Zambia                  0
Zimbabwe                0

[156 rows x 650 columns]

In [47]:
# 6.14 2 Mean speed of players in clubs. Positions with max speed.

speed = df.pivot_table(values=['SprintSpeed'],
index=['Club'],
columns=['Position'],
aggfunc='mean',
fill_value=0)
speed.max().sort_values(ascending=False)

             Position
SprintSpeed  RS          94.0
             RM          94.0
             LM          94.0
             LS          93.0
             RB          93.0
             LB          93.0
             CF          91.0
             LW          91.0
             ST          91.0
             RDM         91.0
             RW          91.0
             RCM         90.0
             CAM         89.0
             LF          88.0
             RCB         88.0
             LCB         88.0
             RWB         86.0
             RF          86.0
             CM          86.0
             LWB         86.0
             LAM         85.0
             LCM         84.0
             CDM         83.0
             LDM         79.0
             RAM         78.0
             CB          78.0
             GK          62.0
dtype: float64

In [40]:
# 6.14 3 ST with max speed

speed.loc['ST'].sort_values(ascending=False)

             Club
SprintSpeed  Vitória                  91.000000
             Sydney FC                88.000000
             CD Lugo                  87.000000
             Brøndby IF               84.666667
             Leicester City           84.500000
                                        ...
             Málaga CF                 0.000000
             PFC CSKA Moscow           0.000000
             Stade Rennais FC          0.000000
             Standard de Liège         0.000000
             Sporting de Charleroi     0.000000
Name: ST, Length: 650, dtype: float64